@import "../styles/colors";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-color;
  min-height: 100vh;
  min-width: 100vw;
  color: $white-color;
}
